<div class="card" style="max-width: 90%; margin: auto; margin-top: 20px">
  <div class="card-header text-center"><h2>Order History</h2></div>
  <div class="card-body">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Pending Orders<span class="material-icons" >
      pending
      </span></a>
    <ng-template ngbNavContent>
	  <div *ngIf="processing == 0" class="text-center"><h3>No pending orders</h3></div>
      <div class="col-md-12" *ngIf="processing !== 0 ">
    	  <table class="table table-hover">
		<thead>
		  <tr>
			<th scope="col">Order Id</th>
			<th scope="col">Ticker Name</th>
			<th scope="col">Price</th>
			<th scope="col">Action</th>
            <th scope="col">Volume</th>
      	<th scope="col">Status</th>
		  <th scope="col">Edit or delete</th>
            </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let order of Orders">
			<td *ngIf="order.statusCode < 2" >{{order.id}}</td>
			<td *ngIf="order.statusCode < 2">{{order.stockTicker}}</td>
			<td *ngIf="order.statusCode < 2">{{order.price | number: '1.2-2'}}</td>
            <td *ngIf="order.statusCode < 2">{{order.buyOrSell}}</td>
            <td *ngIf="order.statusCode < 2">{{order.volume}}</td>
			<td  *ngIf="order.statusCode < 2">
            <span [ngSwitch]="order.statusCode">
				<span *ngSwitchCase="0">Order initiated</span>
				<span *ngSwitchCase="1">Order processing</span>
				<span *ngSwitchDefault>default</span>
			</span>
            </td>
			<td *ngIf="order.statusCode < 2" >
			<a [routerLink]="['/order-edit/', order.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
			  <a [routerLink]="" (click)="deleteOrder(order.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			 </td>
		  </tr>
		</tbody>
	  </table>
	  </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Executed Orders
	<span class="material-icons" >
      check_circle_outline
      </span>
	</a>
    <ng-template ngbNavContent>
 <div *ngIf="executed == 0" class="text-center"><h3>No pending orders</h3></div>
      <div class="col-md-12" *ngIf="executed !== 0 ">
	      	  <table class="table table-hover">
		<thead>
		  <tr>
			<th scope="col">Order Id</th>
			<th scope="col">Ticker Name</th>
			<th scope="col">Price</th>
			<th scope="col">Action</th>
            <th scope="col">Volume</th>
      	<th scope="col">Status</th>
             
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let order of Orders" >
			<td  *ngIf="order.statusCode> 1">{{order.id}}</td>
			<td  *ngIf="order.statusCode> 1">{{order.stockTicker}}</td>
			<td  *ngIf="order.statusCode> 1">{{order.price | number: '1.2-2'}}</td>
            <td  *ngIf="order.statusCode> 1">{{order.buyOrSell}}</td>
            <td  *ngIf="order.statusCode> 1">{{order.volume}}</td>
            <td  *ngIf="order.statusCode> 1">
            <span [ngSwitch]="order.statusCode">
				<span *ngSwitchCase="2">Order success</span>
				<span *ngSwitchCase="3">Order failure</span>
				<span *ngSwitchDefault>default</span>
			</span>
            </td>
		  </tr>
		</tbody>
	  </table>
	  </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
</div>