
                <select class="form-select form-select-sm" [(ngModel)]="stockTicker"  >
                        <option *ngFor="let ticker of stockTickers">
                                {{ticker}}
                        </option>
                </select>
                <!--<input type="text" [(ngModel)]="orderDetails.stockTicker" class="form-control form-control-sm">-->

    <button class="btn-sm btn" (click)="tradeAdvice()">Submit</button>
        <span [hidden] = "verbose" class="text-center"> 
          <span *ngIf="data.advice == 'Sell'"><button type="button" class="btn-sm btn-danger">SELL</button> </span>
           <span *ngIf="data.advice == 'Buy'"><button type="button" class="btn-sm btn-success ">BUY</button></span>
            <span *ngIf="data.advice == 'Hold'"><button type="button" class="btn-sm btn-warning ">HOLD</button></span>
        </span>
        
               