<div class="col-md-12">
    <h3 class="mb-3 text-center">Edit Order</h3>

    <div class="form-group row">
      <label class="control-label col-md-12">Ticker name</label>
      <input type="text" class="form-control" [placeholder]="orderDetails.stockTicker" id="inputDefault">
    </div>
    
    
    
    <div class="form-group row">
      <label class="control-label col-md-12">Volume</label>
      <input type="text" [(ngModel)]="orderDetails.volume" class="form-control">
    </div>
    
    <div class="form-group row">
      <label class="control-label col-md-12">Buy or Sell</label>
      <input type="text" [(ngModel)]="orderDetails.buyOrSell" class="form-control">
    </div>
    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateOrder()">Save Order</button>
    </div>

 </div>