<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="container">
<div class="row">
<div class="col-md-4">

<div class="card" style="height:150px;">
  <div class="card-header text-center">
<h5>Total Amount Invested</h5>
</div>
<div class='card-body text-center'>
  <h2>${{totalAmount}}</h2>
  </div>
</div>
</div>
<div class="col-md-4">

<div class="card" style="height:150px;">
  <div class="card-header text-center">
<h5>Number of Investments</h5>
</div>
<div class="card-body text-center">
  <h2>{{Orders.length}}</h2>
  </div>
</div>
</div>
<div class="col-md-4">

<div class="card" style="height:150px;">
  <div class="card-header text-center">
  <h5> Trade Advisor</h5>
  </div>
  <div class="card-body text-center">
<app-trade-advisor> </app-trade-advisor>
  </div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-6" >
<div class="card">
<div class="card-header"> 
<div class="row">
<div class="col-md-9">
<h5>Asset Summary</h5>
(By Amount )
</div>
<div class="col-md-3">
<button class= "btn btn-light btn-sm me-md-2" (click)="piechart1()" ><span class="material-icons" style="color:grey">
pie_chart
</span></button>
   <button class= "btn btn-light btn-sm" (click)="barchart1()" ><span class="material-icons" style="color:grey">
bar_chart
</span></button>
</div>
</div>
</div>

<div class="card-body">

<div class="chart-wrapper">
    <canvas baseChart height = "150"
    [data]="ChartData" 
    [labels]="ChartLabels" 
    [chartType]="ChartType1"
    [options]="ChartOptions"
    [plugins]="ChartPlugins"
    [legend]="false"
    [colors]="chartColors"
    >
  </canvas>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="card">
<div class="card-header"> 
<div class="row">
<div class="col-md-9">
<h5>Asset Summary</h5>
(By Volume) 
</div>
<div class="col-md-3">
<button class= "btn btn-light btn-sm me-md-2" (click)="piechart2()" ><span class="material-icons" style="color:grey">
pie_chart
</span></button>
   <button class= "btn btn-light btn-sm" (click)="barchart2()" ><span class="material-icons" style="color:grey">
bar_chart
</span></button>
</div>
</div>
</div>
<div class="card-body">

<div class="chart-wrapper">
    <canvas baseChart height = "150"
    [data]="ChartData2" 
    [labels]="ChartLabels" 
    [chartType]="ChartType2"
    [options]="ChartOptions"
    [plugins]="ChartPlugins"
    [legend]="false"
    [colors]="chartColors"
    >
  </canvas>
</div>
</div>
</div>
</div>
</div>
</div>

