<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<body >
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#1C4E80;">
  <div class="container-fluid" >
    <img src="../assets/images/1favicon.ico" height="50px" style="margin-right: 10px;"/>
    <a class="navbar-brand" href="#">Panda Trader</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
       <li>
        <span class="material-icons nav-link" style="margin-left:15px; margin-right:-10px;">
        dashboard
      </span>
      </li>
        <li class="nav-item">
          <a class="nav-link active" href="home">Dashboard</a>
        </li>
        <li>
        <span class="material-icons nav-link" style="margin-left:15px; margin-right:-10px;">
        history
      </span>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="trade-list">History
          <span class="visually-hidden">(current)</span></a>
        </li>
        <li>
        <span class="material-icons nav-link" style="margin-left:15px; margin-right:-10px;">
        playlist_add_check_circle
      </span>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="watchlist">Watchlist</a>
        </li>
        <li>
        <span class="material-icons nav-link" style="margin-left:15px; margin-right:-10px;">
       hourglass_bottom
      </span>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="order-status">Order Status</a>
        </li>
        <li>
        <span class="material-icons nav-link" style="margin-left:15px; margin-right:-10px;">
       shopping_cart
      </span>
      </li>
        <li class="nav-item">
          <a class="nav-link"  href="create-order">Place Order</a>
        </li>
      </ul>
      <img src="../assets/images/citiBank.png" height="50px"/>
    </div>
  </div>
</nav>

<div class="container" >
  <router-outlet> </router-outlet>
</div>
</body>
