<div class="card" style="max-width: 90%; margin: auto; margin-top: 20px">
  <div class="card-header text-center"><h2>WatchList</h2></div>
  <div class="card-body">
  <label for="tickerList" class="form-label mt-4">Add to Watchlist</label>
      <div class="col-sm-12">
      <div class="input-group mb-3">
      
      <select [(ngModel)]="selectedTicker" name="demo" class="form-select" id="tickerList" style="width: 70%; margin-right: 10px;" >
        <option value="{{op}}" *ngFor="let op of optionList" >{{op}}</option>
        </select>
      <button class="btn btn-primary" type="button" id="addWatchlist" (click)="addTicker()">ADD</button>  
      </div>
    
    <div *ngIf="Watch.length !== 0">
        <div class="col-md-12" style="margin-top: 20px">
            <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Industry</th>
                <th scope="col">Stock Price</th>
                <th scope="col">Place Order</th>
                <th scope="col">Remove</th>              
                
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ticker of Watch">
                <td>{{ticker.symbol}}</td>
                <td>{{ticker.name}}</td>
                <td>{{ticker.industry}}</td>
                <td>{{ticker.stockPrice}}</td>
                <td><button [routerLink]="['/create-order']" [state] = "{stockTicker: ticker.symbol}" type="button" class="btn btn-success">Order</button></td>
                <td><button type="button" class="btn btn-dark" (click)="deleteTicker(ticker.symbol)">X</button>
            </tr>
            </tbody>
        </table>
        </div>
        </div>
</div>
</div>