<div class="card" style="max-width: 50%; margin: auto; margin-top: 20px">
        <div class="card-header text-center">
                <h2>Add Order</h2>
        </div>
        <div class='card-body'>
        <div class="form-group mt-2">
                <label class="form-label">Ticker Name</label>
                <select class="form-select form-select-sm" [(ngModel)]="orderDetails.stockTicker" (change)="fillPrice()">
                        <option *ngFor="let ticker of stockTickers">
                                {{ticker}}
                        </option>
                </select>
                <!--<input type="text" [(ngModel)]="orderDetails.stockTicker" class="form-control form-control-sm">-->
        </div>

        <div class="form-group mt-2">
                <label class="col-form-label">Price</label>
                <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" [(ngModel)]="orderDetails.price" readonly class="form-control form-control-sm" value={{this.orderDetails.price}} [placeholder]="orderDetails.price">
                </div>
        </div>

        <div class="form-group mt-2">
                <label class="col-form-label">Volume</label>
                <input type="text" [(ngModel)]="orderDetails.volume" class="form-control form-control-sm" placeholder="Enter quantity of shares">
        </div>

        <div class="mb-4 form-group mt-2">
                <label class="col-form-label">Type of Transaction</label>
                <select class="form-select form-select-sm" [(ngModel)]="orderDetails.buyOrSell">
                        <option selected disabled>Choose Transaction Type</option>
                        <option value="Buy">Buy</option>
                        <option value="Sell">Sell</option>
                </select>
        </div>

        <div class="text-center mb-4">
                <button class="btn-lg btn-success" (click)="addOrder()">SUBMIT ORDER</button>
        </div>
        </div>
</div>