<div class="card" style="max-width: 90%; margin: auto; margin-top: 20px">
<div class="card-header text-center">
<h2> Order Status </h2></div>
<div class='card-body'>
<form [formGroup]="tickerNameForm" (ngSubmit)="onSubmit()" >
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select Ticker Name:</label>
    <select class="form-control"  formControlName="name" >
     <option disabled>Ticker Name</option>
    <option *ngFor="let ticker of tickerName">{{ticker}}</option>
    </select>
  </div>
  <br>
   <button class= "btn btn-primary" >Submit</button>
</form>
<br>
<!-- orderss list table, it hides when there is no order -->
<div *ngIf="orderStatus.length !== 0" [hidden] = "verbose">
	<div class="col-md-12">
    	  <table class="table table-hover">
		<thead>
		  <tr>
			<th scope="col">Order Id</th>
			<th scope="col">Ticker Name</th>
			<th scope="col">Price</th>
			<th scope="col">Action</th>
            <th scope="col">Volume</th>
      	<th scope="col">Status</th>
             
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let order of orderStatus">
			<td>{{order.id}}</td>
			<td>{{order.stockTicker}}</td>
			<td>{{order.price | number: '1.2-2'}}</td>
            <td>{{order.buyOrSell}}</td>
            <td>{{order.volume}}</td>
            <td>
            <span [ngSwitch]="order.statusCode">
		<span *ngSwitchCase="0">Order initiated</span>
		<span *ngSwitchCase="1">Order processing</span>
    <span *ngSwitchCase="2">Order success</span>
		<span *ngSwitchCase="3">Order failure</span>
		<span *ngSwitchDefault>default</span>
	</span>
            </td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>
</div>
</div>